header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 3.46875rem;
  gap: 132px;
}
main section {
  padding: 16px 1.96875rem;
}

header img {
  /* margin-left: 132px; */
  width: 50%;
  border-radius: 20px;
}
.heading-left {
  width: 50%;
}

h1 {
  margin-bottom: 8px;
}

.heading-left button {
  margin-top: 22px;
}

#advantage {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

#advantage img {
  width: 100%;
}

#advantage h2 {
  margin-bottom: 32px;
}

section h2 {
  color: var(--medium-blue);
}

#why-a-website {
  width: 100%;
}

#why-a-website h2 {
  margin-bottom: 32px;
}

#why-a-website-items {
  display: grid;
  grid-template-columns: 532px 1fr;
  gap: 109px;
}

#why-a-website-items-icons-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

#why-a-website-items-icons-container img {
  width: 80px;
  margin-bottom: 12px;
}

#why-a-website-items-icons-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
}

#why-a-website-items-icons-container div:not(:last-child) {
  margin-right: 2rem;
}

#Latest-works-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

#Latest-works-items p {
  margin-top: 2rem;
}

#Latest-works-grid div {
  width: 400px;
  height: 350px;
  background-color: var(--dark-blue);
  margin-top: 1rem;
  border-radius: 1.125rem;
}

#Review-container {
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#Review-container h2 {
  margin-bottom: 1.4375rem;
}

#Review-items div {
  display: block;
  margin: 1rem auto 0;
  height: 300px;
  background-color: var(--dark-blue);
  border-radius: 1.125rem;
}

#reserver-un-appel div {
  margin: 2rem 0 1rem 0;
}

iframe {
  width: 70%;
  height: 450px;
  margin: 1rem auto 0;
  display: block;
}

#reserver-un-appel {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  /* background-color:var(--light-blue) ; */
}

@media screen and (min-width: 768px) and (max-width: 967px) {
  header {
    flex-direction: column-reverse;
    gap: 1.2rem;
  }

  header img {
    width: 80%;
  }

  .heading-left {
    width: 100%;
  }

  #why-a-website-items {
    grid-template-columns: 1fr;
    gap: 54.5px;
  }
}

@media screen and (max-width: 767px) {
  .heading-left {
    width: 100%;
  }

  header img {
    display: none;
  }

  .heading-text {
    width: 100%;
  }

  button {
    padding: 15px 20px;
    font-weight: 600;
    font-size: 1rem;
  }

  main section {
    padding: 32px 0.66875rem;
  }
  header {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  #advantage {
    width: 100%;
    gap: 50px;
    grid-template-columns: repeat(1, 100%);
  }

  #advantage img {
    order: 2;
  }

  #advantage-text {
    order: 1;
  }

  #why-a-website-items {
    grid-template-columns: 100%;
    gap: 50px;
  }

  #why-a-website-items-icons-container {
    grid-template-columns: repeat(2, 120px) 69.5px;
    align-items: center;
    text-align: center;
  }

  #why-a-website-items-icons-container {
    grid-template-columns: repeat(1, 2fr);
    gap: 2rem;
  }

  #why-a-website-items-icons-container div:not(:last-child) {
    margin-right: 0px;
  }

  #Review-container p {
    text-align: center;
  }

  #Review-container {
    width: 90%;
  }

  iframe {
    width: 80%;

    height: 1010px;
  }
}
